<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tiy-ng-day1</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app>


<div class="container" ng-controller="MainController">

<input type="text" ng-model="newPerson.name">
<input type="text" ng-model="newPerson.email">
<button ng-click="addPerson(newPerson)">Submit</button>


  <h2>{{ demo }}</h2>
  <input type="text" placeholder="filter names" ng-model="peeps.name">
  <input type="text" placeholder="filter email" ng-model="peeps.email">

  <ul>
    <li ng-repeat="person in people | filter: peeps.name">
      <div>{{ person.name }} - <span><a href="mailto:{{person.email}}">{{ person.email }}</a></span></div>
    </li>
  </ul>
<input type="text" placeholder="filter names" ng-model="dom">
  <ul>
    <li ng-repeat="domain in domains | filter: dom">
      {{domain.name}}
    </li>
  </ul>


</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Faker/0.5.11/MinFaker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>

<script src="js/main.js"></script>

</body>
</html>
